.sun-editor-black-background .se-container {
  background-color: #222222 !important;
  // color: white; /* Change text color to white for better visibility */
}
.sun-editor-black-background .se-wrapper {
  background-color: #222222 !important;
}
.sun-editor-black-background .se-wrapper-inner {
  background-color: #222222 !important;
}
.sun-editor-editable {
  color: #fafafa !important;
}
